<div class="container">

    <div class="title text-center d-flex flex-column align-items-center gap-2" data-aos="fade-up" data-aos-duration="1000">
        <h2 class="fw-bold title-text">Portfolio</h2>
        <svg viewBox="0 0 200 20" xmlns="https://www.w3.org/2000/svg" width="200" height="20">
            <path d="M 0,10 C 40,0 60,20 100,10 C 140,0 160,20 200,10" fill="none" stroke="#3d03b8" stroke-width="2"></path>
        </svg>
        <p class="fs-6 text-secondary w-50">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi libero consequuntur eum esse quibusdam aut, ipsam sunt obcaecati itaque quod.
        </p>
    </div>

    <div class="pf-filters d-flex align-items-center justify-content-center flex-wrap gap-2 mt-3 p-3" 
        data-aos="fade-up" data-aos-delay="200">
        <button class="btn btn-light" (click)="filterCategory('all')">All Work</button>
        <button class="btn btn-light" (click)="filterCategory('web-design')">Web Design</button>
        <button class="btn btn-light" (click)="filterCategory('graphics')">Graphics</button>
        <button class="btn btn-light" (click)="filterCategory('motion')">Motion</button>
        <button class="btn btn-light" (click)="filterCategory('branding')">Branding</button>
    </div>

    <div class="row pf-container g-4 mt-3 mb-3" data-aos="fade-up" data-aos-delay="300">
        <div class="col-md-6 col-lg-6 pf-wrap" *ngFor="let card of filteredCards" data-aos="zoom-in" data-aos-duration="800">
            <div class="pf-card d-flex flex-column gap-3 rounded">
                <div class="pf-img">
                    <img [src]="card.img" alt="" class="img-fluid rounded">
                    <div class="pf-bg-light"></div>
                </div>
                <div class="pf-content p-3">
                    <span class="text-primary mt-2">{{ card.category | titlecase }}</span>
                    <h3 class="text-dark fs-3 mt-2 mb-2">{{ card.title }}</h3>
                    <p class="text-dark fs-6">{{ card.description }}</p>
                </div>
            </div>
        </div>
    </div>

</div>
