<nav class="navbar navbr-light bg-light shadow navbar-expand-lg " data-aos="fade-down" data-aos-delay="100">
    <div class="container d-flex align-items-center justify-content-between">
        <a href="#" class="navbar-brand logo d-flex align-items-center me-auto">
            <h1 class="fs-2 fw-bold mb-0">
                <span class="text-dark">
                    Chaturbhuj <span class="text-primary">Technology </span>
                </span>
            </h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav gap-3">
              <li >
                <a class="nav-link active text-primary fs-5" aria-current="page" href="#">Home</a>
              </li>
              <li >
                <a class="nav-link text-secondary fs-5" href="#about us">About</a>
              </li>
              <li >
                <a class="nav-link text-secondary fs-5" href="#skills"  >Skills</a>
              </li>
              <li >
                <a class="nav-link text-secondary fs-5" href="#protfolio">Portfolio</a>
              </li>
              <li >
                <a class="nav-link text-secondary fs-5" href="#services">Services</a>
              </li>
              <li >
                <a class="nav-link text-secondary fs-5" href="#contact">Contact</a>
              </li>
            </ul>
          </div>
          <div class="nav-social-icons d-none d-lg-flex align-items-center gap-3">
            <a href="" class="text-secondary fs-4"><i class="bi bi-facebook"></i> </a>
            <a href="" class="text-secondary fs-4"><i class="bi bi-twitter-x"></i></a>
            <a href="" class="text-secondary fs-4"><i class="bi bi-instagram"></i></a>
            <a href="" class="text-secondary fs-4"><i class="bi bi-linkedin"></i></a>

          </div> 
    </div>
</nav>


