<div class="title text-center d-flex flex-column align-items-center gap-2" data-aos="fade-up">
    <h2 class="fw-bold title-text">About us</h2>
    <!-- svg -->
    <svg viewBox="0 0 200 20" xmlns="https://www.w3.org/2000/svg" width="200" height="20">
        <path d="M 0,10 C 40,0 60,20 100, 10 C 140,0 160,20 200 ,10" fill="none" stroke="#3d03b8" stroke-width="2">
        </path>
    </svg>
    <p class="fs-6 text-secondary w-50">
        Chaturbhuj Technology is not widely known, and there are multiple companies with similar names in different
        industries. Could you clarify which Chaturbhuj Technology you are referring to? Are you looking for details
        about a specific company, its services, or something else?
    </p>
</div>
<div class="container" data-aos="fade-up" data-aos-delay=" 100">
    <div class="row about-wapper g-5 g-md-4">
        <div class="col-md-6" data-aos="fade-right" data-aos-delay="200">
            <img [src]="imagePath" alt="Example Image" class="img-fluid" data-aos="zoom-out" data-aos-delay="600">
        </div>
        <div class="col-md-6" data-aos="fade-left" data-aos-delay="300">
            <div class="about-content d-flex flex-column align-items-start justify-content-start">
                <span class="subtitle">About Me</span>
                <h2 class="fw-bold mt-2 text-strat">UI Designer &amp; JavaFullStack Developer</h2>
                <p class="lead text-start fs-6 mb-3">
                    {{paragram}}
                </p>

                <div class="personal-info shadow rounded p-4">
                    <div class="row g-3">
                        <div class="col-6">
                            <div class="d-flex flex-column align-items-start">
                                <span class="label text-secondary"> Name</span>
                                <span class="value text-dark fw-bold">Chirayu Sanglikar</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex flex-column align-items-start">
                                <span class="label text-secondary"> Phone</span>
                                <span class="value text-dark fw-bold">(+19)8830260139</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex flex-column align-items-start">
                                <span class="label text-secondary"> Age</span>
                                <span class="value text-dark fw-bold">28 Years</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex flex-column align-items-start">
                                <span class="label text-secondary"> E-mail</span>
                                <span class="value text-dark fw-bold">chaturbhuj.prasads 21&#64;gmail.com</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex flex-column align-items-start">
                                <span class="label text-secondary"> Occupation</span>
                                <span class="value text-dark fw-bold">Software Developer</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex flex-column align-items-start">
                                <span class="label text-secondary"> Nationality</span>
                                <span class="value text-dark fw-bold">Indian</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4 d-flex align-items-center">
                    <div class="signayure-img">
                    <img [src]="imgsrc" alt="" class="w-75 img-fluid">
                    </div>
                    <div class="d-flex flex-column align-items-start">
                        <h4 class="fs-5 fs-normal 1h-1">Chirayu Sanglikar</h4>
                        <p class="fs-6 fw-light text-start"> Adipiscing Elit ,Lorem ipsum </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>