<div class="title text-center d-flex flex-column align-items-center gap-2" data-aos="fade-up">
    <h2 class="fw-bold title-text">Services</h2>
    <svg viewBox="0 0 200 20" xmlns="http://www.w3.org/2000/svg" width="200" height="20">
        <path d="M 0,10 C 40,0 60,20 100,10 C 140,0 160,20 200,10" fill="none" stroke="#3d03b8" stroke-width="2"></path>
    </svg>
    <p class="fs-6 text-secondary w-50">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, consectetur ex recusandae et ipsa est tenetur
        demo.
    </p>
</div>
<br><br>
<div class="container" data-aos="fade-up" data-aos-delay="200">
    <div class="row align-items-center">
        <div class="col-lg-4 mb-5 mb-lg-0 d-flex align-items-start flex-column">
            <h2 class="mb-4 text-start services-title">consectetur adipisicing elit sed do eisumed tempor</h2>
            <p class="mb-4 text-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi assumenda nam
                sapiente fuga voluptatum iure neque quo vero rerum animi.</p>

            <button class="btn btn-outline-primary">See All Services</button>
        </div>
        <div class="col-lg-8">
            <div class="row g-4">
                <!-- card1 -->
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-card d-flex flex-column align-items-start text-start rounded shadow p-4">
                        <i class="bi bi-activity service-icon"></i>
                        <h3 class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
                    </div>
                </div>
                <!-- card 2 -->
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="service-card d-flex flex-column align-items-start text-start rounded shadow p-4">
                        <i class="bi bi-easel service-icon"></i>
                        <h3 class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
                    </div>
                </div>
                <!-- card 3 -->
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="service-card d-flex flex-column align-items-start text-start rounded shadow p-4">
                        <i class="bi bi-broadcast service-icon"></i>
                        <h3 class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
                    </div>
                </div>
                <!-- card 4-->
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="600">
                    <div class="service-card d-flex flex-column align-items-start text-start rounded shadow p-4">
                        <i class="bi bi-bounding-box service-icon"></i>
                        <h3 class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
                    </div>
                </div>
                <!-- card1 -->

            </div>
        </div>
    </div>
</div>