<div class="container " data-aos="fade-up" data-aos-delay="100">
    <div class="row g-5">
        <div class="col-lg-6">
            <div class="contact-content" data-aos="fade-right" data-aos-delay="200">
                <div class="mb-3 fs-5">Contact</div>
                <h2 class="mb-4">Lorem ipsum dolor sit amet consectetur.</h2>
                <p class="lead mb-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem provident cumque
                    temporibus tempore, </p>
                <div class="contact-info mt-5">
                    <div class="info-box d-flex align-item-center mb2">
                        <i class="bi bi-envelope-at me-3 fs-5 text-primary"></i>
                        <span class="value text-dark fw-bold">chaturbhuj.prasads 21&#64;gmail.com</span>
                    </div>
                    <div class="info-box d-flex align-item-center mb2">
                        <i class="bi bi-telephone me-3 fs-5 text-primary"></i>
                        <span class="value text-dark fw-bold">+91 8830260114</span>
                    </div>
                    <div class="info-box d-flex align-item-center mb2">
                        <i class="bi bi-geo-alt me-3 fs-5 text-primary"></i>
                        <span class="value text-dark fw-bold"> Pune 16 Lorem ipsum dolor sit amet.</span>
                    </div><br>

                    <a href="" class="map-link d-inline-flex align-item-center text-dark fs-5 mt-3">Opne Map
                        <i class="bi bi-arrow-right ms-2"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="contact-form shadow rounded " data-aos="fade-left" data-aos-delay="300">
                <div class="p-4 p-lg-5">
                    <form action="">
                        <div class="row gy-4">
                            <div class="col-12">
                                <input type="text" class="form-control" placeholder="Your name" required>
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control" placeholder="Your name" required>
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control" placeholder="Your Subject" required>
                            </div>
                            <div class="col-12">
                                <textarea class="form-control" name="massege" rows="6" placeholder="Message"></textarea>
                            </div>
                            <div class="col-12 text-center">
                                <button type="button" class="btn btn-sumbit w-100">Submit</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>