<div class="title text-center d-flex flex-column align-items-center gap-2" data-aos="fade-up">
    <h2 class="fw-bold title-text">Testimonial</h2>
    <svg viewBox="0 0 200 20" xmlns="http://www.w3.org/2000/svg" width="200" height="20">
        <path d="M 0,10 C 40,0 60,20 100,10 C 140,0 160,20 200,10" fill="none" stroke="#3d03b8" stroke-width="2"></path>
    </svg>
    <p class="fs-6 text-secondary w-50">
        Chaturbhuj Technology is not widely known, and there are multiple companies with similar names in different
        industries. Could you clarify which Chaturbhuj Technology you are referring to?
    </p>
</div>

<div class="container shadow rounded p-4"  data-aos="fade-up" data-aos-delay="100">
    <div *ngIf="isBrowser">

        <div #swiperContainer class="swiper">
            <div class="swiper-wrapper">
                <!-- slide1 -->
                <div class="swiper-slide">
                    <div class="test-wrapper">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-8">
                                <div class="testimonial-content d-flex flex-column align-items-start">
                                    <h2>Java</h2>
                                    <p class="text-start mt-2">
                                        Doloremque unde fugiat
                                        libero? Blanditiis dolore, minima dolorem harum suscipit, iusto ea consequuntur
                                        quos, nesciunt id saepe. Deserunt totam officiis possimus error.
                                    </p>
                                    <p class="text-start mt-2">
                                        Doloremque unde fugiat
                                        libero? Blanditiis dolore, minima dolorem harum suscipit, iusto ea consequuntur
                                        quos, nesciunt id saepe. Deserunt totam officiis possimus error.
                                    </p>
                                    <div class="client-profile d-flex align-items-center gap-2 mt-3">
                                        <img src="image/testimonials-1.webp" alt=""
                                            class="client-small-img rounded-circle img-fluid">
                                        <div class="d-flex align-items-start flex-column">
                                            <h3 class="fs-5 lh-1">saul Goodman</h3>
                                            <span class="text-secondary">Client</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 d-none d-lg-block">
                                <div class="client-btn-img">
                                    <img src="image/testimonials-1.webp" class="img-fluid rounded client-img" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- slide2 -->
                <div class="swiper-slide">
                    <div class="test-wrapper">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-8">
                                <div class="testimonial-content d-flex flex-column align-items-start">
                                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, eveniet?</h2>
                                    <p class="text-start mt-2">
                                        Doloremque unde fugiat
                                        libero? Blanditiis dolore, minima dolorem harum suscipit, iusto ea consequuntur
                                        quos, nesciunt id saepe. Deserunt totam officiis possimus error.
                                    </p>
                                    <p class="text-start mt-2">
                                        Doloremque unde fugiat
                                        libero? Blanditiis dolore, minima dolorem harum suscipit, iusto ea consequuntur
                                        quos, nesciunt id saepe. Deserunt totam officiis possimus error.
                                    </p>
                                    <div class="client-profile d-flex align-items-center gap-2 mt-3">
                                        <img src="image/testimonials-2.webp" alt=""
                                            class="client-small-img rounded-circle img-fluid">
                                        <div class="d-flex align-items-start flex-column">
                                            <h3 class="fs-5 lh-1">Sara Wilsson</h3>
                                            <span class="text-secondary">Client</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 d-none d-lg-block">
                                <div class="client-btn-img">
                                    <img src="image/testimonials-2.webp" class="img-fluid rounded client-img" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- slide3 -->
                <div class="swiper-slide">
                    <div class="test-wrapper">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-8">
                                <div class="testimonial-content d-flex flex-column align-items-start">
                                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, eveniet?</h2>
                                    <p class="text-start mt-2">
                                        Doloremque unde fugiat
                                        libero? Blanditiis dolore, minima dolorem harum suscipit, iusto ea consequuntur
                                        quos, nesciunt id saepe. Deserunt totam officiis possimus error.
                                    </p>
                                    <p class="text-start mt-2">
                                        Doloremque unde fugiat
                                        libero? Blanditiis dolore, minima dolorem harum suscipit, iusto ea consequuntur
                                        quos, nesciunt id saepe. Deserunt totam officiis possimus error.
                                    </p>
                                    <div class="client-profile d-flex align-items-center gap-2 mt-3">
                                        <img src="image/testimonials-3.webp" alt=""
                                            class="client-small-img rounded-circle img-fluid">
                                        <div class="d-flex align-items-start flex-column">
                                            <h3 class="fs-5 lh-1">saul Goodman</h3>
                                            <span class="text-secondary">Client</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 d-none d-lg-block">
                                <div class="client-btn-img">
                                    <img src="image/testimonials-3.webp" class="img-fluid rounded client-img" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- slide4 -->
                <div class="swiper-slide">
                    <div class="test-wrapper">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-8">
                                <div class="testimonial-content d-flex flex-column align-items-start">
                                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, eveniet?</h2>
                                    <p class="text-start mt-2">
                                        Doloremque unde fugiat
                                        libero? Blanditiis dolore, minima dolorem harum suscipit, iusto ea consequuntur
                                        quos, nesciunt id saepe. Deserunt totam officiis possimus error.
                                    </p>
                                    <p class="text-start mt-2">
                                        Doloremque unde fugiat
                                        libero? Blanditiis dolore, minima dolorem harum suscipit, iusto ea consequuntur
                                        quos, nesciunt id saepe. Deserunt totam officiis possimus error.
                                    </p>
                                    <div class="client-profile d-flex align-items-center gap-2 mt-3">
                                        <img src="image/testimonials-4.webp" alt=""
                                            class="client-small-img rounded-circle img-fluid">
                                        <div class="d-flex align-items-start flex-column">
                                            <h3 class="fs-5 lh-1">Matt Brandon</h3>
                                            <span class="text-secondary">Client</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 d-none d-lg-block">
                                <div class="client-btn-img">
                                    <img src="image/testimonials-4.webp" class="img-fluid rounded client-img" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Add more slides here -->
    
    
        </div>
        <div class="swiper-btns w-100 d-flex align-items-center justify-content-center">
            <div class="swiper-button-prev" ></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>